{% extends "base_signed_in.html" %}

{% block title %} 
	User Form
{% endblock %}

{% block custom_css %} 
<style type="text/css">
.errmsg{
	color: red;
}
</style>
{% endblock %}

{% block body_content %} 
<center>
<form name="form_user" id="form_user" method="POST" enctype="multipart/form-data">
	<h1>User Form</h1>
	New Password <input type="password" name="password" id="password" value=""> <span class="errmsg">{{errmsg.password}}</span></br>
	<input type="button" name="btn_submit" id="btn_submit" value="Save">
	<input type="button" name="btn_cancel" id="btn_cancel" value="Cancel">
</form>
</center>
{% endblock %}

{% block custom_script %}
<script type="text/javascript">
$(document).ready(function(){
    $("#btn_submit").click(function(){
        $("#form_user").submit();
    });
    $("#btn_cancel").click(function(){
    	$(location).attr('href', '{{url_for('user_list')}}')
    });
});
</script>
{% endblock %}