{% extends "base_signed_in.html" %}

{% block title %} 
	User Form
{% endblock %}

{% block body_content %} 
<center>
<form name="form_user" id="form_user" method="POST" enctype="multipart/form-data">
	<h1>User Form</h1>
	This html template that we made is still very basic, so you can make your own html template as you wish</br>
	{{errmsg}}</br>
	Username <input type="text" name="txt_username" id="txt_username" value=""></br>
	Password <input type="password" name="txt_password" id="txt_password" value=""></br>
	Fullname <input type="text" name="txt_fullname" id="txt_fullname" value=""></br>
	Phonenumber <input type="text" name="txt_phonenumber" id="txt_phonenumber" value=""></br>
	Email <input type="text" name="txt_email" id="txt_email" value=""></br>
	Photo <input type="file" name="file_photo" id="file_photo" value=""></br>
	<input type="button" name="btn_submit" id="btn_submit" value="Save">
	<input type="button" name="btn_cancel" id="btn_cancel" value="Cancel">
</form>
</center>
{% endblock %}

{% block custom_script %}
<script type="text/javascript">
$(document).ready(function(){
    $("#btn_submit").click(function(){
        $("#form_user").submit();
    });
});
</script>
{% endblock %}