<html>
	<head>
		<title>Albasia
			{% block title %} {% endblock %}
		</title>
		{% block custom_css %} {% endblock %}
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
		{% block custom_css %} {% endblock %}
		<h1><a href="{{url_for('home')}}" style="text-decoration: none">Albasia</a></h1>
		<br><br><br>
		{% block body_content %} {% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		{% block custom_script %} {% endblock %}
	</body>
</html>